<div class="giscus"></div>

<script
  is:inline
  data-astro-rerun
  src="https://giscus.app/client.js"
  data-repo="mikuworldpl/mikuworldpl-website"
  data-repo-id="R_kgDON8HVCQ"
  data-category="Comments"
  data-category-id="DIC_kwDON8HVCc4CnG8s"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="top"
  data-theme="preferred_color_scheme"
  data-lang="pl"
  crossorigin="anonymous"
  async></script>
